{% load static %}
<div data-elementor-type="footer" data-elementor-id="51" class="elementor elementor-51 elementor-location-footer">
    <section class="elementor-section elementor-top-section elementor-element elementor-element-4bc627c elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="4bc627c" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
        <div style="background-color:#b9b2a7; background-image:none" class="elementor-background-overlay"></div>
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-753cf65" data-id="753cf65" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <section class="elementor-section elementor-inner-section elementor-element elementor-element-64b46a7 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="64b46a7" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-535519b" data-id="535519b" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-8e0a959 elementor-widget elementor-widget-heading" data-id="8e0a959" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h4 class="elementor-heading-title elementor-size-default">Signup our newsletter to get update information, news, insight or promotions.</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-d4767fc" data-id="d4767fc" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-411c7ac elementor-button-align-stretch elementor-widget elementor-widget-form" data-id="411c7ac" data-element_type="widget" data-settings="{&quot;button_width_tablet&quot;:&quot;33&quot;,&quot;step_next_label&quot;:&quot;Next&quot;,&quot;step_previous_label&quot;:&quot;Previous&quot;,&quot;button_width&quot;:&quot;33&quot;,&quot;step_type&quot;:&quot;number_text&quot;,&quot;step_icon_shape&quot;:&quot;circle&quot;}"
                                        data-widget_type="form.default">
                                        <div class="elementor-widget-container">
                                            <style>
                                                /*! elementor-pro - v3.7.1 - 16-05-2022 */

                                                .elementor-button.elementor-hidden,
                                                .elementor-hidden {
                                                    display: none
                                                }

                                                .e-form__step {
                                                    width: 100%
                                                }

                                                .e-form__step:not(.elementor-hidden) {
                                                    display: -webkit-box;
                                                    display: -ms-flexbox;
                                                    display: flex;
                                                    -ms-flex-wrap: wrap;
                                                    flex-wrap: wrap
                                                }

                                                .e-form__buttons {
                                                    -ms-flex-wrap: wrap;
                                                    flex-wrap: wrap
                                                }

                                                .e-form__buttons,
                                                .e-form__buttons__wrapper {
                                                    display: -webkit-box;
                                                    display: -ms-flexbox;
                                                    display: flex
                                                }

                                                .e-form__indicators {
                                                    -webkit-box-pack: justify;
                                                    -ms-flex-pack: justify;
                                                    justify-content: space-between;
                                                    -ms-flex-wrap: nowrap;
                                                    flex-wrap: nowrap;
                                                    font-size: 13px;
                                                    margin-bottom: var(--e-form-steps-indicators-spacing)
                                                }

                                                .e-form__indicators,
                                                .e-form__indicators__indicator {
                                                    display: -webkit-box;
                                                    display: -ms-flexbox;
                                                    display: flex;
                                                    -webkit-box-align: center;
                                                    -ms-flex-align: center;
                                                    align-items: center
                                                }

                                                .e-form__indicators__indicator {
                                                    -webkit-box-orient: vertical;
                                                    -webkit-box-direction: normal;
                                                    -ms-flex-direction: column;
                                                    flex-direction: column;
                                                    -webkit-box-pack: center;
                                                    -ms-flex-pack: center;
                                                    justify-content: center;
                                                    -ms-flex-preferred-size: 0;
                                                    flex-basis: 0;
                                                    padding: 0 var(--e-form-steps-divider-gap)
                                                }

                                                .e-form__indicators__indicator__progress {
                                                    width: 100%;
                                                    position: relative;
                                                    background-color: var(--e-form-steps-indicator-progress-background-color);
                                                    border-radius: var(--e-form-steps-indicator-progress-border-radius);
                                                    overflow: hidden
                                                }

                                                .e-form__indicators__indicator__progress__meter {
                                                    width: var(--e-form-steps-indicator-progress-meter-width, 0);
                                                    height: var(--e-form-steps-indicator-progress-height);
                                                    line-height: var(--e-form-steps-indicator-progress-height);
                                                    padding-right: 15px;
                                                    border-radius: var(--e-form-steps-indicator-progress-border-radius);
                                                    background-color: var(--e-form-steps-indicator-progress-color);
                                                    color: var(--e-form-steps-indicator-progress-meter-color);
                                                    text-align: right;
                                                    -webkit-transition: width .1s linear;
                                                    -o-transition: width .1s linear;
                                                    transition: width .1s linear
                                                }

                                                .e-form__indicators__indicator:first-child {
                                                    padding-left: 0
                                                }

                                                .e-form__indicators__indicator:last-child {
                                                    padding-right: 0
                                                }

                                                .e-form__indicators__indicator--state-inactive {
                                                    color: var(--e-form-steps-indicator-inactive-primary-color, #c2cbd2)
                                                }

                                                .e-form__indicators__indicator--state-inactive [class*=indicator--shape-]:not(.e-form__indicators__indicator--shape-none) {
                                                    background-color: var(--e-form-steps-indicator-inactive-secondary-color, #fff)
                                                }

                                                .e-form__indicators__indicator--state-inactive object,
                                                .e-form__indicators__indicator--state-inactive svg {
                                                    fill: var(--e-form-steps-indicator-inactive-primary-color, #c2cbd2)
                                                }

                                                .e-form__indicators__indicator--state-active {
                                                    color: var(--e-form-steps-indicator-active-primary-color, #39b54a);
                                                    border-color: var(--e-form-steps-indicator-active-secondary-color, #fff)
                                                }

                                                .e-form__indicators__indicator--state-active [class*=indicator--shape-]:not(.e-form__indicators__indicator--shape-none) {
                                                    background-color: var(--e-form-steps-indicator-active-secondary-color, #fff)
                                                }

                                                .e-form__indicators__indicator--state-active object,
                                                .e-form__indicators__indicator--state-active svg {
                                                    fill: var(--e-form-steps-indicator-active-primary-color, #39b54a)
                                                }

                                                .e-form__indicators__indicator--state-completed {
                                                    color: var(--e-form-steps-indicator-completed-secondary-color, #fff)
                                                }

                                                .e-form__indicators__indicator--state-completed [class*=indicator--shape-]:not(.e-form__indicators__indicator--shape-none) {
                                                    background-color: var(--e-form-steps-indicator-completed-primary-color, #39b54a)
                                                }

                                                .e-form__indicators__indicator--state-completed .e-form__indicators__indicator__label {
                                                    color: var(--e-form-steps-indicator-completed-primary-color, #39b54a)
                                                }

                                                .e-form__indicators__indicator--state-completed .e-form__indicators__indicator--shape-none {
                                                    color: var(--e-form-steps-indicator-completed-primary-color, #39b54a);
                                                    background-color: initial
                                                }

                                                .e-form__indicators__indicator--state-completed object,
                                                .e-form__indicators__indicator--state-completed svg {
                                                    fill: var(--e-form-steps-indicator-completed-secondary-color, #fff)
                                                }

                                                .e-form__indicators__indicator__icon {
                                                    width: var(--e-form-steps-indicator-padding, 30px);
                                                    height: var(--e-form-steps-indicator-padding, 30px);
                                                    font-size: var(--e-form-steps-indicator-icon-size);
                                                    border-width: 1px;
                                                    border-style: solid;
                                                    display: -webkit-box;
                                                    display: -ms-flexbox;
                                                    display: flex;
                                                    -webkit-box-pack: center;
                                                    -ms-flex-pack: center;
                                                    justify-content: center;
                                                    -webkit-box-align: center;
                                                    -ms-flex-align: center;
                                                    align-items: center;
                                                    overflow: hidden;
                                                    margin-bottom: 10px
                                                }

                                                .e-form__indicators__indicator__icon img,
                                                .e-form__indicators__indicator__icon object,
                                                .e-form__indicators__indicator__icon svg {
                                                    width: var(--e-form-steps-indicator-icon-size);
                                                    height: auto
                                                }

                                                .e-form__indicators__indicator__icon .e-font-icon-svg {
                                                    height: 1em
                                                }

                                                .e-form__indicators__indicator__number {
                                                    width: var(--e-form-steps-indicator-padding, 30px);
                                                    height: var(--e-form-steps-indicator-padding, 30px);
                                                    border-width: 1px;
                                                    border-style: solid;
                                                    display: -webkit-box;
                                                    display: -ms-flexbox;
                                                    display: flex;
                                                    -webkit-box-pack: center;
                                                    -ms-flex-pack: center;
                                                    justify-content: center;
                                                    -webkit-box-align: center;
                                                    -ms-flex-align: center;
                                                    align-items: center;
                                                    margin-bottom: 10px
                                                }

                                                .e-form__indicators__indicator--shape-circle {
                                                    border-radius: 50%
                                                }

                                                .e-form__indicators__indicator--shape-square {
                                                    border-radius: 0
                                                }

                                                .e-form__indicators__indicator--shape-rounded {
                                                    border-radius: 5px
                                                }

                                                .e-form__indicators__indicator--shape-none {
                                                    border: 0
                                                }

                                                .e-form__indicators__indicator__label {
                                                    text-align: center
                                                }

                                                .e-form__indicators__indicator__separator {
                                                    width: 100%;
                                                    height: var(--e-form-steps-divider-width);
                                                    background-color: #c2cbd2
                                                }

                                                .e-form__indicators--type-icon,
                                                .e-form__indicators--type-icon_text,
                                                .e-form__indicators--type-number,
                                                .e-form__indicators--type-number_text {
                                                    -webkit-box-align: start;
                                                    -ms-flex-align: start;
                                                    align-items: flex-start
                                                }

                                                .e-form__indicators--type-icon .e-form__indicators__indicator__separator,
                                                .e-form__indicators--type-icon_text .e-form__indicators__indicator__separator,
                                                .e-form__indicators--type-number .e-form__indicators__indicator__separator,
                                                .e-form__indicators--type-number_text .e-form__indicators__indicator__separator {
                                                    margin-top: calc(var(--e-form-steps-indicator-padding, 30px) / 2 - var(--e-form-steps-divider-width, 1px) / 2)
                                                }

                                                .elementor-field-type-hidden {
                                                    display: none
                                                }

                                                .elementor-field-type-html {
                                                    display: inline-block
                                                }

                                                .elementor-login .elementor-lost-password,
                                                .elementor-login .elementor-remember-me {
                                                    font-size: .85em
                                                }

                                                .elementor-field-type-recaptcha_v3 .elementor-field-label {
                                                    display: none
                                                }

                                                .elementor-field-type-recaptcha_v3 .grecaptcha-badge {
                                                    z-index: 1
                                                }

                                                .elementor-button .elementor-form-spinner {
                                                    -webkit-box-ordinal-group: 4;
                                                    -ms-flex-order: 3;
                                                    order: 3
                                                }

                                                .elementor-form .elementor-button>span {
                                                    display: -webkit-box;
                                                    display: -ms-flexbox;
                                                    display: flex;
                                                    -webkit-box-pack: center;
                                                    -ms-flex-pack: center;
                                                    justify-content: center;
                                                    -webkit-box-align: center;
                                                    -ms-flex-align: center;
                                                    align-items: center
                                                }

                                                .elementor-form .elementor-button .elementor-button-text {
                                                    white-space: normal;
                                                    -webkit-box-flex: 0;
                                                    -ms-flex-positive: 0;
                                                    flex-grow: 0
                                                }

                                                .elementor-form .elementor-button svg {
                                                    height: auto
                                                }

                                                .elementor-form .elementor-button .e-font-icon-svg {
                                                    height: 1em
                                                }
                                            </style>
                                            <form class="elementor-form" method="post" name="New Form">
                                                <input type="hidden" name="post_id" value="51" />
                                                <input type="hidden" name="form_id" value="411c7ac" />
                                                <input type="hidden" name="referer_title" value="Homepage" />

                                                <input type="hidden" name="queried_id" value="736" />

                                                <div class="elementor-form-fields-wrapper elementor-labels-">
                                                    <div class="elementor-field-type-email elementor-field-group elementor-column elementor-field-group-email elementor-col-66 elementor-md-66 elementor-field-required">
                                                        <label for="form-field-email" class="elementor-field-label elementor-screen-only">
            Email							</label>
                                                        <input size="1" type="email" name="form_fields[email]" id="form-field-email" class="elementor-field elementor-size-md  elementor-field-textual" placeholder="Email" required="required" aria-required="true">
                                                    </div>
                                                    <div class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-33 e-form__buttons elementor-md-33">
                                                        <button style="background-color:#64bec0" type="submit" class="elementor-button elementor-size-md">
    <span >
                                        <span class="elementor-align-icon-left elementor-button-icon">
                <i aria-hidden="true" class="far fa-envelope" ></i>																	</span>
                                                                    <span class="elementor-button-text">Sign Up</span>
                                </span>
</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-5430638 elementor-widget elementor-widget-heading" data-id="5430638" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-heading-title elementor-size-default">*Fermentum montes rhoncus platea vehicula nec ornare</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="elementor-section elementor-inner-section elementor-element elementor-element-038fdf0 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="038fdf0" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-a2b4e61" data-id="a2b4e61" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-c8dfcc0 elementor-widget elementor-widget-image" data-id="c8dfcc0" data-element_type="widget" data-widget_type="image.default">
                                        <div class="elementor-widget-container">
                                            <img src="https://www.linkpicture.com/q/Logo_4.png" title="logo_texmazo_w" alt="logo_texmazo_w" loading="lazy" />                                                                </div>
                                    </div>
                                    <div class="elementor-element elementor-element-e1fba16 elementor-widget elementor-widget-heading" data-id="e1fba16" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-heading-title elementor-size-default">Nascetur mauris taciti magna facilisi aliquet tortor purus fringilla litora class molestie cursus turpis tempor.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-a3f91a0" data-id="a3f91a0" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-9651220 elementor-widget elementor-widget-heading" data-id="9651220" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h5 class="elementor-heading-title elementor-size-default">Company</h5>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-34c2b98 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="34c2b98" data-element_type="widget" data-widget_type="icon-list.default">
                                        <div class="elementor-widget-container">
                                            <ul class="elementor-icon-list-items">
                                                <li class="elementor-icon-list-item">
                                                    <a href="#">

                        <span class="elementor-icon-list-text">About us</span>
                        </a>
                                                </li>
                                                <li class="elementor-icon-list-item">
                                                    <a href="#">

                        <span class="elementor-icon-list-text">Leadership</span>
                        </a>
                                                </li>
                                                <li class="elementor-icon-list-item">
                                                    <a href="#">

                        <span class="elementor-icon-list-text">Careers</span>
                        </a>
                                                </li>
                                                <li class="elementor-icon-list-item">
                                                    <a href="#">

                        <span class="elementor-icon-list-text">News & Article</span>
                        </a>
                                                </li>
                                                <li class="elementor-icon-list-item">
                                                    <a href="#">

                        <span class="elementor-icon-list-text">Legal Notice</span>
                        </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-db2d301" data-id="db2d301" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-f382235 elementor-widget elementor-widget-heading" data-id="f382235" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h5 class="elementor-heading-title elementor-size-default">Product</h5>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-bb8d9f3 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="bb8d9f3" data-element_type="widget" data-widget_type="icon-list.default">
                                        <div class="elementor-widget-container">
                                            <ul class="elementor-icon-list-items">
                                                <li class="elementor-icon-list-item">
                                                    <a href="#">

                        <span class="elementor-icon-list-text">Towels</span>
                        </a>
                                                </li>
                                                <li class="elementor-icon-list-item">
                                                    <a href="#">

                        <span class="elementor-icon-list-text">Cottons</span>
                        </a>
                                                </li>
                                                <li class="elementor-icon-list-item">
                                                    <a href="#">

                        <span class="elementor-icon-list-text">Polyster</span>
                        </a>
                                                </li>
                                                <li class="elementor-icon-list-item">
                                                    <a href="#">

                        <span class="elementor-icon-list-text">Napery</span>
                        </a>
                                                </li>
                                                <li class="elementor-icon-list-item">
                                                    <a href="#">

                        <span class="elementor-icon-list-text">Isolation Gowns</span>
                        </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-f308d4f" data-id="f308d4f" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-ac790ea elementor-widget elementor-widget-heading" data-id="ac790ea" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h5 class="elementor-heading-title elementor-size-default">Get in touch</h5>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-4335986 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="4335986" data-element_type="widget" data-widget_type="icon-list.default">
                                        <div class="elementor-widget-container">
                                            <ul class="elementor-icon-list-items">
                                                <li class="elementor-icon-list-item">
                                                    <span class="elementor-icon-list-text">Jln Cempaka Wangi No 22</span>
                                                </li>
                                                <li class="elementor-icon-list-item">
                                                    <span class="elementor-icon-list-text">Jakarta - Indonesia</span>
                                                </li>
                                                <li class="elementor-icon-list-item">
                                                    <span class="elementor-icon-list-icon">
        <i aria-hidden="true" class="far fa-envelope"  style="color:#64bec0"></i>						</span>
                                                    <span class="elementor-icon-list-text">support@yourdomain.tld</span>
                                                </li>
                                                <li class="elementor-icon-list-item">
                                                    <span class="elementor-icon-list-icon">
        <i aria-hidden="true" class="fa-solid fa-phone fa-shake"  style="color:#64bec0"></i>						</span>
                                                    <span class="elementor-icon-list-text">+6221.2002.2012</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="elementor-section elementor-inner-section elementor-element elementor-element-2d5c08d elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="2d5c08d" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-fb6e1ae" data-id="fb6e1ae" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-eca65b8 elementor-widget elementor-widget-heading" data-id="eca65b8" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-heading-title elementor-size-default">Copyright © 2023 Farhan Fabrics, All rights reserved. Present by <a target="_blank" href="https://www.github.com/ahmedmujtaba1"> Ahmed Mujtaba
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-28e6b93" data-id="28e6b93" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-5918f18 e-grid-align-right e-grid-align-mobile-center elementor-shape-rounded elementor-grid-0 elementor-widget elementor-widget-social-icons" data-id="5918f18" data-element_type="widget" data-widget_type="social-icons.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-social-icons-wrapper elementor-grid">
                                                <span class="elementor-grid-item">
<a class="elementor-icon elementor-social-icon elementor-social-icon-facebook-f elementor-animation-bounce-in elementor-repeater-item-e0eb2c6" target="_blank">
    <span class="elementor-screen-only">Facebook-f</span>
                                                <i class="fab fa-facebook-f"></i> </a>
                                                </span>
                                                <span class="elementor-grid-item">
<a class="elementor-icon elementor-social-icon elementor-social-icon-instagram elementor-animation-bounce-in elementor-repeater-item-4570d73" target="_blank">
    <span class="elementor-screen-only">Instagram</span>
                                                <i class="fab fa-instagram"></i> </a>
                                                </span>
                                                <span class="elementor-grid-item">
<a class="elementor-icon elementor-social-icon elementor-social-icon-twitter elementor-animation-bounce-in elementor-repeater-item-07343f7" target="_blank">
    <span class="elementor-screen-only">Twitter</span>
                                                <i class="fab fa-twitter"></i> </a>
                                                </span>
                                                <span class="elementor-grid-item">
<a class="elementor-icon elementor-social-icon elementor-social-icon-linkedin-in elementor-animation-bounce-in elementor-repeater-item-561d716" target="_blank">
    <span class="elementor-screen-only">Linkedin-in</span>
                                                <i class="fab fa-linkedin-in"></i> </a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
</div>